In [4]:
#Thêm thư viện pandas và numpy bằng lệnh import, np và pd là để viết tắt cho 2 thư viện trên
#pd.read_csv là chỉ định đọc file csv có trong thư mục
#Print là chạy lệnh

import pandas as pd  
import numpy as np

df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col = "STT")
print(df.head(10))

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...    TBM1    TBM2  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.9750  7.5500
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.5125  5.3750
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.9750  5.4375
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  6.2625  5.3125
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.5625  6.4625
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  7.9125  8.5125
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  5.1500  5.8250
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  6.5250  6.8375
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  6.2875  6.6875
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  6.7500  7.2125

       TBM3  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT
1    7.0375    K    K    K    2.790    3.020    2.815     1
2    4.6875    Y   TB    Y    1.805    2.150    1.875     0
3    4.7500   TB   TB    Y    2.390    2.175    1.900     1
4    6.0875   TB   TB   TB    2.505    2.125    2.435     1
5    7.1000    K   TB    K    2.625    2.585    2.840     1
6    7.9875    K    G    K    3.165    3.405    3.195     1
7    5.2750   TB   TB   TB    2.060    2.330    2.110     0
8    6.6875    K    K    K    2.610    2.735    2.675     1
9    6.6625   TB    K    K    2.515    2.675    2.665     1
10   7.1875    K    K    K    2.700    2.885    2.875     1

[10 rows x 65 columns]

In [2]:
#df["DT"] dùng để truy cập vào cột DT có trong file csv
#fillna dùng để thay thế các giá trị bị thiếu 

df["DT"].fillna(0, inplace=False)

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [3]:
#df["T1"] dùng để truy cập vào cột T1 có trong file csv
#fillna dùng để thay thế các giá trị bị thiếu 
#inplace thay đổi tham số

df["T1"].fillna(df["T1"].mean(), inplace=False)

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [7]:
#def fill(col) là định nghĩa hàm có tên fill với tham số là col
#return là trả về 
#df[col].fillna(df[col].mean(), inplace =False) là thay thế các giá trị trong cột col bằng giá trị trung bình của cột đó

def fill(col):
    return df[col].fillna(df[col].mean(), inplace =False)

In [8]:
#df.dtypes là trả về kiểu dữ liệu Datatype của từng cột 

df.dtypes

T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

In [9]:
#df.dtypes là trả về kiểu dữ liệu của từng cột 
#== float là so sánh kiểu dữ liệu của mỗi cột
#df.columns là trả về tên các cột 
#[is_float64] là chọn các tên cột có giá trị tương ứng
#.tolist là chuyển đổi kết quả thành danh sách các tên cột
is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()

In [10]:
#df_column_list là danh sách chứa các tên cột 

df_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

In [12]:
#def fill(col) là định nghĩa hàm có tên fill với tham số là col
#return là trả về 
#df[col].fillna(df[col].mean(), inplace =False) là thay thế các giá trị trong cột col bằng giá trị trung bình của cột đó

def fill(col):
    return df[col].fillna(df[col].mean(), inplace =False)

In [13]:
#df.head() là truy suất mặc định 5 hàng đầu tiên

df.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A

In [14]:
#for i in ["1","2","6"]: là i sẽ nhận lần lượt các dữ liệu ["1","2","6"]
#print("TBM"+i) là chạy chuỗi TBM cùng với giá trị i

for i in ["1","2","6"]:
    print("TBM"+i)

TBM1
TBM2
TBM6

In [15]:
#for i in ["1","2","6"]: là i sẽ nhận lần lượt các dữ liệu ["1","2","6"]
#df["TMB"+i] = (df["T"+i]*2 + df["L"+i]+ df["H"+i]+ df["S"+i]+ df["V"+i]*2+ df["X"+i]+ df["D"+i]+ df["N"+i])/10 là sử dụng để tính toán các cột được gán vào đó
for i in ["1","2","6"]:
    df["TMB"+i] = (df["T"+i]*2 + df["L"+i]+ df["H"+i]+ df["S"+i]+ df["V"+i]*2+ df["X"+i]+ df["D"+i]+ df["N"+i])/10

In [16]:
#df.rename(columns={"TBM6":"TBM3"}, inplace=False) là được dùng để dổi tên cột chỉ định

df.rename(columns={"TBM6":"TBM3"}, inplace=False)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TMB1,TMB2,TMB6
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,5.07
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,6.04
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,F,NaN,1,5.25,1.50,6.25,C,7.43,7.42,6.83
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,F,NaN,1,5.25,3.75,4.75,C,4.93,5.15,6.39
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,M,NaN,2NT,7.00,8.00,4.00,C,7.05,7.84,7.67
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,M,NaN,1,5.00,3.50,5.50,C,4.15,4.72,5.29
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,M,NaN,2NT,5.25,2.50,4.25,C,5.26,5.72,5.85

In [18]:
#df.head() là truy suất mặc định 5 hàng đầu tiên

df.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TMB1,TMB2,TMB6
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,NaN,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,NaN,1,6.00,4.00,3.50,C,4.69,5.47,5.07
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,NaN,1,5.00,6.75,4.00,C,5.77,5.38,6.04
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,NaN,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,NaN,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99

In [5]:
import pandas as pd


#Đọc và tải dữ liệu từ tệp CSV:
file_path = 'dulieuxettuyendaihoc.csv'
df = pd.read_csv(file_path)

#Tính toán TBM cho từng chỉ số từ 1 đến 3:
cols = ['T', 'L', 'H', 'S', 'V', 'X', 'D', 'N']
for i in range(1, 4):
    df[f'TBM{i}'] = df[[f'{col}{i}' for col in cols]].mean(axis=1)

#Hàm xếp loại dựa trên giá trị TBM:
def xep_loai(tbm):
    if tbm < 5.0:
        return 'Y'
    elif tbm < 6.5:
        return 'TB'
    elif tbm < 8.0:
        return 'K'
    elif tbm < 9.0:
        return 'G'
    return 'XS'

#Áp dụng hàm xếp loại vào từng cột TBM:
for i in range(1, 4):
    df[f'XL{i}'] = df[f'TBM{i}'].apply(xep_loai)

#Lưu DataFrame đã xử lý trở lại vào tệp CSV gốc:
df.to_csv(file_path, index=False)

#Thông báo hoàn thành:
print("Đã tạo và lưu các biến xếp loại thành công!")

Đã tạo và lưu các biến xếp loại thành công!

In [7]:
import pandas as pd

#Đọc và tải dữ liệu từ tệp CSV:
file_path = 'dulieuxettuyendaihoc.csv'
df = pd.read_csv(file_path)

#Tính toán TBM cho từng chỉ số từ 1 đến 3:
cols = ['T', 'L', 'H', 'S', 'V', 'X', 'D', 'N']
for i in range(1, 4):
    df[f'TBM{i}'] = df[[f'{col}{i}' for col in cols]].mean(axis=1)

#Hàm chuyển đổi điểm TBM sang điểm theo hệ thống điểm bên Mỹ:
def Chuyen_Sang_Diem_USA(tbm):
    return (tbm / 10) * 4

#Áp dụng hàm chuyển đổi vào từng cột TBM:
for i in range(1, 4):
    df[f'US_TBM{i}'] = df[f'TBM{i}'].apply(Chuyen_Sang_Diem_USA)

#Lưu DataFrame đã xử lý trở lại vào tệp CSV gốc:
df.to_csv(file_path, index=False)

#Thông báo hoàn thành và hiển thị mặc định 5 hàng đầu tiên
print("Đã chuyển đổi và lưu các điểm trung bình thành công!")
df.head()

Đã chuyển đổi và lưu các điểm trung bình thành công!

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.9750,7.5500,7.0375,K,K,K,2.790,3.020,2.815,1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.5125,5.3750,4.6875,Y,TB,Y,1.805,2.150,1.875,0
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.9750,5.4375,4.7500,TB,TB,Y,2.390,2.175,1.900,1
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,6.2625,5.3125,6.0875,TB,TB,TB,2.505,2.125,2.435,1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.5625,6.4625,7.1000,K,TB,K,2.625,2.585,2.840,1

In [8]:
import pandas as pd

#Đọc và tải dữ liệu từ tệp CSV:
file_path = 'dulieuxettuyendaihoc.csv'
df = pd.read_csv(file_path)

#Định nghĩa hàm tính toán kết quả xét tuyển (KQXT)
def calculate_kqxt(row):
    group = row['KT']
    DH1, DH2, DH3 = row['T1'], row['L1'], row['H1']
    if group in ['A', 'A1']:
        average_score = (DH1 * 2 + DH2 + DH3) / 4
    elif group == 'B':
        average_score = (DH1 + DH2 * 2 + DH3) / 4
    else:
        average_score = (DH1 + DH2 + DH3) / 3
    return 1 if average_score >= 5.0 else 0

#Áp dụng hàm tính toán vào từng hàng
df['KQXT'] = df.apply(calculate_kqxt, axis=1)
#Lưu DataFrame đã xử lý trở lại vào tệp CSV gốc và hiển thị mặc định 5 hàng đầu tiên
df.to_csv(file_path, index=False)
print(df.head())

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...    TBM1    TBM2  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.9750  7.5500
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  4.5125  5.3750
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  5.9750  5.4375
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  6.2625  5.3125
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.5625  6.4625

     TBM3  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
0  7.0375    K    K    K    2.790    3.020    2.815     1
1  4.6875    Y   TB    Y    1.805    2.150    1.875     0
2  4.7500   TB   TB    Y    2.390    2.175    1.900     1
3  6.0875   TB   TB   TB    2.505    2.125    2.435     1
4  7.1000    K   TB    K    2.625    2.585    2.840     1

[5 rows x 66 columns]